@page "/authors/books/{authorid:int}"
<h3>Books</h3>
@if (response == null)
{
    <MudAlert Severity="Severity.Info">Loading data, please wait...</MudAlert>
}
else if (!response.Success)
{
    <MudAlert Severity="Severity.Error">@response.Message</MudAlert>
}
else
{
    <div>
        <MudGrid Spacing="1" Justify="Justify.Center">
            @foreach (var book in response.Data)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <MudCard Class="card-min-height">
                        <MudCardMedia Image="@book.Image" Class="card-img-height img-center" />
                        <MudCardContent>
                            <MudText Typo="Typo.h5">@book.Title - @book.Price?.ToString("C")</MudText>
                            <MudText Typo="Typo.body2">@book.Summary</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                            <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    </div>
}

@code {

}
